<div class="">
    <span class="flex items-center justify-center step-links">
    {% if page.has_previous %}
    <a class="flex px-4 py-1 mx-auto ml-0 mr-8 text-lg text-white bg-indigo-500 border-0 rounded rounded-full focus:outline-none hover:bg-indigo-600" href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="flex ">
    Page {{ page.number }} of {{ page.paginator.num_pages }}.
    </span>
    {% if page.has_next %}
    <a class="flex px-4 py-1 mx-auto ml-8 mr-8 text-lg text-white bg-indigo-500 border-0 rounded rounded-full focus:outline-none hover:bg-indigo-600" href="?page={{ page.next_page_number }}">Next</a>
    {% endif %}
    </span>
  </div>